<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}Dashboard{% endblock %}</title>

    {% load static %}

    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}" />
  </head>

  <body>
    <div class="sidebar">
      <h2>EMS</h2>
      {% block sidebar %}{% endblock %}
    </div>

    <div class="main">
      <div class="topbar">
        <div>
          <strong>{{ request.user.username }}</strong>
        </div>

        <form method="post" action="{% url 'logout' %}">
          {% csrf_token %}
          <button class="logout-btn">Logout</button>
        </form>
      </div>

      <div class="content">{% block content %}{% endblock %}</div>
    </div>

    <!-- Global Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    {% block scripts %}{% endblock %}
  </body>
</html>
