body {
  font-family: "Segoe UI", sans-serif;
  background: #f4f6f9;
  margin: 0;
  padding: 40px;
}

.exam-container {
  max-width: 900px;
  margin: auto;
  background: #ffffff;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
}

h2 {
  margin-top: 0;
  font-size: 28px;
}

.timer {
  background: #111827;
  color: white;
  padding: 12px 20px;
  border-radius: 8px;
  display: inline-block;
  margin-bottom: 25px;
  font-weight: bold;
}

.question-card {
  background: #f9fafb;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  border: 1px solid #e5e7eb;
}

.option {
  display: block;
  margin: 8px 0;
  cursor: pointer;
}

.submit-btn {
  background: #2563eb;
  color: white;
  padding: 12px 25px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease;
}

.submit-btn:hover {
  background: #1e40af;
}

.correct {
  color: #16a34a;
  font-weight: bold;
}

.wrong {
  color: #dc2626;
  font-weight: bold;
}
.exam-container h2 {
  color: #ff4d4d;
}
.progress-container {
  background: #e5e7eb;
  height: 8px;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 10px;
}

.progress-fill {
  background: #2563eb;
  height: 100%;
  transition: 0.5s ease;
}
