<!DOCTYPE html>
<html>
  <head>
    <title>{{ exam.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/exam.css' %}" />
  </head>

  <body>
    <div class="exam-container">
      <h2>{{ exam.title }}</h2>

      <div class="timer">
        Time Remaining:
        <span id="countdown">Loading...</span>
      </div>

      <form method="post">
        {% csrf_token %} {% for question in questions %}
        <div class="question-card">
          <h3>Q{{ forloop.counter }}: {{ question.question_text }}</h3>

          <label class="option">
            <input type="radio" name="question_{{ question.id }}" value="A" />
            {{ question.option_a }}
          </label>

          <label class="option">
            <input type="radio" name="question_{{ question.id }}" value="B" />
            {{ question.option_b }}
          </label>

          <label class="option">
            <input type="radio" name="question_{{ question.id }}" value="C" />
            {{ question.option_c }}
          </label>

          <label class="option">
            <input type="radio" name="question_{{ question.id }}" value="D" />
            {{ question.option_d }}
          </label>
        </div>
        {% endfor %}

        <button type="submit" class="submit-btn">Submit Exam</button>
      </form>
    </div>

    <script>
      let remainingTime = Number("{{ remaining_seconds|default:0 }}");

      const countdown = document.getElementById("countdown");

      function updateTimer() {
        if (remainingTime <= 0) {
          countdown.innerHTML = "Time Over";
          document.forms[0].submit();
          return;
        }

        const minutes = Math.floor(remainingTime / 60);
        const seconds = remainingTime % 60;

        countdown.innerHTML = minutes + "m " + seconds + "s";

        remainingTime--;
      }

      updateTimer();
      setInterval(updateTimer, 1000);
    </script>
  </body>
</html>
