<!DOCTYPE html>
<html>
  <head>
    <title>Set New Password | EMS</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/auth.css' %}" />
  </head>

  <body>
    <div class="reset-card">
      <h2>Create New Password</h2>

      <form method="post">
        {% csrf_token %}

        <div class="input-group">{{ form.new_password1 }}</div>

        <div class="input-group">{{ form.new_password2 }}</div>

        <button type="submit" class="btn">Reset Password</button>
      </form>
    </div>
  </body>
</html>
